body{
    margin: 0px;
    background-color:grey;
}
#back{
    margin: 8vw;
    background-color:skyblue;
    padding:50px;
    position: relative;
    margin-top: 20vw;
    min-width: 60vw;
    /* animation: move 3s ease-in-out infinite; */
}
#back2{
    margin: 8vw;
    background-color:skyblue;
    padding:50px;
    position: relative;
    margin-top: 20vw;
    min-width: 60vw;
}
h1{
    background-color:black;
    color: white;
    font-size:8vw;
    position: fixed;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    padding:30px;
    text-align: center;
    z-index: 1;
}
@keyframes move{
    0%{transform:translate(0,0)}
    25%{transform:translate(-50px,0)}
    50%{transform:translate(0,0)}
    75%{transform:translate(50px,0)}
    100%{transform:translate(0,0)}
}